body{
    background-color: #f0a1a5;
}

h1{
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: inline;
}
#hands{
    width: 100px;
    position: absolute;
}
div{
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding-left: 550px;
}

 .dog{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.dog{
    height: 300px;
}